{% extends "base.html" %} {% block title %}(Admin Only) Reset Passwords {% endblock %} {% block content %}


<!-- <h1>Reset Passwords</h1>
<form method="POST">
  <div>
    <label for="email">Select an email address:</label>
    <select name="email" id="email">
      {% for user in users %}
      <option value="{{ user.email }}">{{ user.email }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit">Reset Password</button>
</form> -->

<h1>Reset Passwords</h1>
<form method="POST">
  <div>


    <label for="email">Select an email address:</label>
    <select name="email" id="email">
    {% for email in emails %}
      <option value="{{ email }}">{{ email }}</option>
      {% endfor %}
    </select>

  </div>
  <button type="submit">Reset Passwords</button>
</form>

{% endblock %}
